<%= link_to "Add a Link", new_link_path %>

<h2>All Links</h2>
<ul>
  <% @links.each do |link| %>
    <li><%= link_to link.title, link %></li>
  <% end %>
</ul>

<div class="paginate">
  <%= will_paginate @links %>
</div>
